{% layout "layout.liquid" %} 
{% block content %}

<section class="vh-100">
    <div class="container py-5">

        <div class="row d-flext justify-content-center mb-md-5 h-50">
            <div class="form-group col-md-6 col-md-offset-3 align-center ">
              <form id="form" action="/weather">
                <div class="input-group">
                    <input type="search" class="form-control rounded" name="zipcode" placeholder="Enter Zip Code" aria-label="Search" aria-describedby="search-addon" />
                    <input type="submit"  class="btn btn-outline-primary" value="Search" />
                </div>
              </form>
            </div>
        </div>
  
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-7 col-xl-5">
  
          <div id="wrapper-bg" class="card text-dark shadow-4-strong">
            <!-- Main current data -->
            <div class="card-header p-4 border-0">
              <div class="text-center mb-3">
                <p class="h2 mb-1" id="wrapper-name">{{city}}</p>
                <p class="mb-1" id="wrapper-description">{{description}}</p>
                <p class="display-1 mb-1" id="wrapper-temp">
                {% assign cTemp = cityTemp | integer %}
                {% if cTemp < 40 %}
                    <span style="color: blue">{{cityTemp}}</span>
                {% else %}
                  {% if cTemp > 90 %}
                    <span style="color: red">{{cityTemp}}</span>
                  {% else %}
                    {{cityTemp}}
                  {% endif %}
                {% endif %}
                </p>
                <span class="">Minimum: {{minTemp}}<span id="wrapper-pressure"></span></span>
                <span class="mx-2">|</span>
                <span class="">Maximum: {{maxTemp}}<span id="wrapper-humidity"></span></span>
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </section>







<!-- <h1 class="display-4">Weather for </h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="form-group col-md-4 col-md-offset-5 align-center ">
                <input type="search" class="form-control rounded" name="zipcode" placeholder="Enter Zip Code" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">Search</button>
        </div>
    </div>
</div> -->

{% endblock %}